.container{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 50px;
}
.header{
    grid-column: 1/-1;
    /* grid-column-start: 1;
    grid-column-end: 4; */
}

.sidebar{
    grid-column: 1/4;
}

.content{
    grid-column: 4/-1;
}