html,
body{
    height: 100%;
    box-sizing: border-box;
}
body{
    background-color: lightblue;
}
.container{
    border: 1px solid black;
    max-width: 600px;
    margin-inline: auto;
    height: 80%;
}            
.container > div:nth-child(1){
    background-color: lightgray;
}
.container > div:nth-child(2){
    background-color: lightcyan;
}
.container > div:nth-child(3){
    background-color: rgb(221, 159, 159);
}

